/* Details.css */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;

  }

  body{
    background-image: url("/images/depositphotos_282336788-stock-photo-smiling-medical-doctor-woman-with.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

  h1{
    text-align: center;
  }
  
  h3 {
    color: #666;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .documents-list {
    margin-top: 20px;
  }
  
  .document-item {
    margin: 20px 0;
  }
  
  iframe {
    border: 1px solid #ccc;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  